.loading {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.todosDiv {
    height: 80vh;
    width: 90%;
    border-radius: 20px;
    background-color: #242B2E;
    padding: 20px;
    margin: 10px;
    overflow-y: auto;
}

.todoList {
    margin: 30px 20px 20px 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 60vh;
}

.todosDiv::-webkit-scrollbar {
    display: none;
}

.todo {
    margin: 10px 0 0 0;
}

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 55%;
    overflow-x: clip;
}

.done {
    text-decoration: line-through;
    font-weight: lighter;
    font-style: italic;
    color: #666;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: green;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.deleteButton {
    width: auto;
    height: 30px;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #D82E2F;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
    margin-left: 5px;
}

.deleteButton:hover {
    background-color: #E21717;
}

.deleteButton:active {
    background-color: #e8642c;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

@media (max-width: 790px) {
    .todosDiv {
        height: auto;
    }
}